/* Tables */
table {
    border-collapse: collapse;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
}

.data-table th {
    text-transform: capitalize;
    padding: 0.5rem;
    background: rgba(0, 153, 255, 0.2);
    border: 1px solid rgb(0,255,255);
    text-align: left;
    color: rgb(0,255,255);
    font-weight: normal;
}

.data-table td {
    text-align: left;
    padding: 0.5rem;
    border: 1px solid rgb(0,255,255);
}

.data-table tbody tr {
    cursor: pointer;
    transition: background 0.2s;
}

.data-table tbody tr:hover {
    background: rgba(0, 255, 255, 0.1);
}

.data-table tbody tr.selected {
    color: black;
    background: rgba(0, 255, 255, 0.4);
}

.table-container {
    background: #001;
    margin-right: 1rem;
    max-height: 19rem;
    border: 1px solid rgb(0,255,255);
    border-radius: 0.25rem;
}
